{% extends "base.html" %}

{% block title %}
  <title>{{ page.title }} | {{ config.title }}</title>
{% endblock %}

{% block content %}
  <p class="contents">
    <div class="prefix">
      <div>
        {{ page.date }}
      </div>
      <div class="title">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </div>
      <div class="taxonomies_index">
        {% if page.taxonomies.categories %}
          {% for category in page.taxonomies.categories %}
            <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">/{{ category }}</a> 
            {% endfor %}
            &nbsp;
          {% endif %}
        {% if page.taxonomies.tags %}
          {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>&thinsp;
          {% endfor %}
        {% endif %}
      </div>      
    </div>
    <div>
      {{ page.content | safe }}
    </div>
  </p>
{% endblock content %}
